@{
    ViewBag.AngularModule = "messageboard";
}

<div class="message-header">
    <h1>Het AngularJs prikbord</h1>
    <p>Want TODO apps zijn voor mietjes.</p>
</div>

<div data-ng-view="">
    
</div>